<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.traveler">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.ACCESS_GPS" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
    android:name="com.traveler.MainApplication"
    android:allowBackup="false"
    android:icon="@drawable/icon_preto"
    android:label="@string/app_name"
    android:roundIcon="@drawable/icon_preto"
    android:theme="@style/AppTheme">

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="" />

    <uses-library
      android:name="org.apache.http.legacy"
      android:required="false" />

    <activity
      android:name="com.traveler.MainActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

    <service android:name="com.traveler.modules.GPSForegroundService" />
  </application>
</manifest>
